#feed_container {
	position: relative;
	margin:	auto;
	width: 980px;
	min-height: 100%;
	color: black;

	#feed_header {
		margin:	auto;
		position: relative;
		top: 20px;
		width: 900px;
		height:	125px;
		padding: 20px;
		background: white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 2px 2px 5px #1C1C1C;
		-webkit-box-shadow: 2px 2px 5px #1C1C1C;
		box-shadow: 2px 2px 5px #1C1C1C;
		border: 1px solid rgba(0, 0, 0, .1);		

		img {
			height: 125px;
			float: left;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;	
		}

		#feed_description_container {
			float: left;
			width: 600px;
			height: 100px;	
			padding: 15px;		

			#feed_title {
				font-size: 32px;
				font-weight: bold;
				margin-bottom: 10px;
			}

			#feed_description {

			}

			p {
				margin-top: 20px;
				font-style: italic;
			}
		}
	}

	#feed_content {
		position: relative;
		top: 20px;		
		width: 860px;
		margin: auto;
		min-height: 100%;
		background-color:rgba(1, 1, 1, 0.2);
		padding: 20px;

		.post {
			background: rgba(255, 255, 255, .2);
			margin-bottom: 20px;
			padding-bottom: 20px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow: 2px 2px 5px #1C1C1C;
			-webkit-box-shadow: 2px 2px 5px #1C1C1C;
			box-shadow: 2px 2px 5px #1C1C1C;
			border: 1px solid rgba(0, 0, 0, .1);						

			.header {
				padding: 10px 10px 0px 10px;
				font-weight: bold;
				background: white;
				color: #474747;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-top-left-radius: 5px;
				-moz-border-top-right-radius: 5px;
				-moz-border-top-left-radius: 5px;
				border-top-right-radius: 5px;				
				border-top-left-radius: 5px;				
				border-bottom-style:dotted;
				border-width:1px;
				border-color:gray;
				background: url('light_toast.png');

				.bot_name {
					margin-bottom: 0px;
					color: gray;
				}

				.question {
					font-size: 20px;
					line-height: 1.3em;
					margin-bottom: 10px;
				}
			}

			.answers {
				margin-left: 10px;
				margin-top: 30px;

				.answer {
					cursor: pointer;
					margin: 10px;
					border-top: 1px solid #b8cad6;
					background: #70a0bf;
					background: -webkit-gradient(linear, left top, left bottom, from(#99acb8), to(#70a0bf));
					background: -webkit-linear-gradient(top, #99acb8, #70a0bf);
					background: -moz-linear-gradient(top, #99acb8, #70a0bf);
					background: -ms-linear-gradient(top, #99acb8, #70a0bf);
					background: -o-linear-gradient(top, #99acb8, #70a0bf);
					padding: 6px 12px;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
					-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
					box-shadow: rgba(0,0,0,1) 0 1px 0;
					color: black;
					font-size: 15px;
					text-decoration: none;
					vertical-align: middle;
				}
				.answer:hover {
					border-top-color: #4d728a;
					background: #4d728a;
					color: #ccc;
				}
				.answer:active {
					border-top-color: #1b435e;
					background: #1b435e;
				}
			}				
		}

		#show_more {
			height: 20px;
			background: #F2F2F2;
			margin-bottom: 20px;
			padding: 20px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow: 2px 2px 5px #1C1C1C;
			-webkit-box-shadow: 2px 2px 5px #1C1C1C;
			box-shadow: 2px 2px 5px #1C1C1C;
			text-align: center;
			font-weight: bold;
			font-size: 18px;	
			color: #aaa;
			cursor: pointer;	
		}
	}
}

#post_template {
	display: none;
}

#scores {
  width: 500px;
  margin: auto;
  margin-top: 30px;
  /*min-height: 100%;*/


  .title {
  	margin-bottom: 10px;

  	a {
  		color: #298CCB;
			font-size: 20px; 
  	}
  }

  #header {
  	height:28px;
  	background: #DBDBDB;
  	font-size: 10px;
  	border-bottom: none;
  	color: black;	

  	p {
  		position: relative;
			top: 4px;
  	}

  	.name {
  		float: left;
  		margin-left: 5px;
  	}

  	.correct {
  		float: right;
  		margin-right: 5px;
  	}
  }

  #list {	
  	background: white;  	

		.score {
			padding:0 5px;
			border-top:1px solid #e4e4e4;
			display: block;
			height: 39px;
			line-height: 39px;

			&.even {
				background-color:#fdfdfd;
			}

			.name {
				float: left;
				color: #666;
				font-size: 16px;
			}

			.correct {
				width: 20px;
				padding: 0px 10px;
				float: right;
				font-size: 20px;
				color: #298CCB;	
				margin-bottom: 0px;
			}
		}	
  }
}