= javascript_include_tag "https://www.google.com/jsapi"

.stats
	.row.widget.header
		.row.heading
			.span2.headsup
				%h2 Followers
			.span2.headsup
				%h2 Unique Posts
			.span2.headsup
				%h2 Questions Answered
			.span2.headsup
				%h2 Daily Active Users
			.span2.headsup
				%h2 RTs
			.span2.headsup
				%h2 Churn
		.row.data
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
			.span2.headsup
				%span.badge 123
				%span.badge.badge-success +32
	.row
		.span4.widget.small
			%h2 Questions Answered
			#questions-answered-graph
		.span8.widget.large
			%h2 Weekly Retention: Twitter
			#weekly-retention-twitter-graph

		.span4.widget.small
			%h2 Daily Active Users
			#daily-active-users-graph
		.span8.widget.large
			%h2 Weekly Retention: StudyEgg
			#weekly-retention-studyegg-graph

		.span4.widget.small
			%h2 Retweets
			#retweets-graph
		.span8.widget.large
			%h2 Daily Retention: Twitter
			#daily-retention-twitter-graph

		.span8.offset4.widget.large
			%h2 Daily Retention: StudyEgg
			#daily-retention-studyegg-graph